
/*
 * Стили компонента App
 */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

/*
 * Стили компонента Searchbar
 */
.Searchbar {
  
}

/*
 * Стили компонента SearchForm
 */


/*
 * Стили компонента ImageGallery
 */


/*
 * Стили компонента ImageGalleryItem
 */
.ImageGalleryItem {
 
}

.ImageGalleryItem-image {

}

.ImageGalleryItem-image

/*
 * Стили компонента Modal
 */

.Overlay {

}

.Modal {

}

/*
* Стили компонента Buton (Load more)
*/
.Button {
  
}

.Button:hover,
.Button:focus {
  background-color: #303f9f;
}
